h1,h2,h3{
    text-align: center;
    color:black;
    padding-top:15px;
    font-family:'Monaco', monospace;
}

#result{
    color:black;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white;
}
.board {
    position:absolute;
    left:50%;
    transform:translate(-50%);
    padding:.5rem;
    top:13rem;
    height: 520px;
    width: 600px;
    justify-content: center;   
    background-color:white;
}

.board td {
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:rgb(185, 181, 181);
    cursor:pointer;
}
.red {
    background-color:red !important;
    border-radius:10px;
}

.black {
    background-color:black !important;
    border-radius:10px;
}


