h1,h3,h4{
    text-align: center;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:lavender;
}
.board {
    position:absolute;
    left:50%;
    transform:translate(-50%);
    border: 1.5px solid;
    padding:.5rem;
    top:9rem;
    height: 520px;
    width: 600px;
    justify-content: center;   
    background-color:pink;
}

.board td {
    width:80px;
    height:80px;
    border:1px solid black;
    border-radius: 50%;
    background-color:lavender;
    cursor:pointer;
}
.player-one {
    background-color:red;
    border-radius:10px;
}

.player-two {
    background-color:black;
    border-radius:10px;
}


